<h2>2. Demo with options</h2>

<ng-select2 [data]="exampleData"
            [placeholder]="'Demo with options'"
            [width]="300"
            [options]="options"></ng-select2>
            <label for="browser">Choose your browser from the list:</label>
<input class="form-control" list="browsers" name="browser" id="browser">

<datalist id="browsers">
  <option value="Edge">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>


