<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Company <b>List</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i><span>Add New Employee</span></a>
                        <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="fa fa-trash-o" aria-hidden="true"></i> <span>Delete</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="#"><img src="http://www.photrex.com/images/Leaf%20logo.jpg" class="avatar"
                                    alt="Avatar">Michael Holz</a></td>
                        <td>USA</td>
                        <td>sample@gmail.com</td>
                        <td><span class="status text-success">&bull;</span> Active</td>
                        <td>
                            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
                                    class="fa fa-cog"></i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#"><img src="https://p2.zoon.ru/5/a/5d031d4730afec021d51a307_5d0a34453af57.jpg"
                                    class="avatar" alt="Avatar"> Paula Wilson</a></td>
                        <td>Canada</td>
                        <td>sample@gmail.com</td>
                        <td><span class="status text-success">&bull;</span> Active</td>
                        <td>
                            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
                                    class="fa fa-cog"></i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="#"><img
                                    src="https://competition.adesignaward.com/corporation/7f3ad361f2cd251eb5503ccb48aa09840d182b7c-big.jpg"
                                    class="avatar" alt="Avatar"> Antonio Moreno</a></td>
                        <td>China</td>
                        <td>Sample@gmail.com</td>
                        <td><span class="status text-danger">&bull;</span>Suspended</td>
                        <td>
                            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
                                    class="fa fa-cog"></i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="#"><img
                                    src="https://i.pinimg.com/originals/a4/7f/98/a47f98273fe01de1d66dd616b614a83e.jpg"
                                    class="avatar" alt="Avatar"> Mary Saveley</a></td>
                        <td>Russia</td>
                        <td>sample@gmail.com</td>
                        <td><span class="status text-success">&bull;</span> Active</td>
                        <td>
                            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
                                    class="fa fa-cog"></i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a href="#"><img
                                    src="https://i0.wp.com/logo-designer.co/wp-content/uploads/2017/10/2017-Green-Textile-rebranding-Signet-Mills-logo-design-3.png"
                                    class="avatar" alt="Avatar"> Martin Sommer</a></td>
                        <td>Germany</td>
                        <td>sample@gmail.com</td>
                        <td><span class="status text-warning">&bull;</span> Inactive</td>
                        <td>
                            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
                                    class="fa fa-cog"></i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="text-light page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>