<div class="card p-3">
    <form>
        <div class="card-header">
            <h1>Loan Application</h1>
        </div>
       
        <legend class="mt-5 ml-3">Work Information</legend>
        <div class="form-group d-flex flex-row card-body">
            <div class="form-check">
                <label class="control-label" for="occupation">Current Occupation</label>
                <input class="form-control" type="text" name="occupation" />
            </div>
            <div class="form-check">
                <label class="control-label" for="company name">Employer Name</label>
                <input class="form-control" type="text" name="company name" />
            </div>
            <div class="form-check">
                <label class="control-label" for="company location">Employer Address</label>
                <input class="form-control" type="text" name="company location" />
            </div>
        </div>
        <div class="form-group d-flex flex-row card-body mt-0">
            <div class="form-check mt-0">
                <label class="control-label">Loan Type & Amount</label>
                <select class="form-select" aria-label="Default select example">
                    <option value="Commercial" selected>Commercial</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Personal">Personal</option>
                    <option value="Mortgage">Mortgage</option>
                </select>
            </div>
            <div class="form-check">
                <label class="control-label" for="loan amount">Loan Amount</label>
                <input class="form-control" type="text" name="loan amount" />
            </div>
        </div>

        <legend class="pl-3 mt-0">Marital Status</legend>
        <div class="form-group d-flex flex-row card-body">
            <div class="form-check pr-2">
                <input class="form-check-input" name="flexRadioDefault" type="radio" id="single" value="single">
                <label class="form-check-label" for="single">Single</label>
            </div>
            <div class="form-check pr-2">
                <input class="form-check-input" name="flexRadioDefault" type="radio" id="Married" value="Married">
                <label class="form-check-label" for="Married">Married</label>
            </div>
            <div class="form-check pr-2">
                <input class="form-check-input" name="flexRadioDefault" type="radio" id="Divorced" value="Divorced">
                <label class="form-check-label" for="Divorced">Divorced</label>
            </div>
        </div>
        <legend class="pl-3 mt-0">Special Considerations</legend>
        <div class="form-group d-flex flex-row card-body">
            <div class="form-check">
                <label class="form-check-label" for="down payment">Down Payment</label>
                <input class="form-control" type="text" name="down payment" />
            </div>
            <div class="form-check mt-3">
                <div>
                    <input type="checkbox" id="out-of-state" value="out-of-state">
                    <label class="form-check-label" for="Out of State">Out of State Resident</label>
                </div>
                <div>
                    <input type="checkbox" id="cosigner" value="cosigner">
                    <label class="form-check-label" for="Cosigner">Cosigner</label>
                </div>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="name">Name of Cosigner</label>
                <input class="form-control" type="text" name="name-of-cosigner"/>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="occupation">Cosigner Occupation</label>
                <input class="form-control" type="text" name="occupation" />
            </div>
        </div>
        <div class="form-group card-body mt-0 pt-0">
            <legend>Comments</legend>
            <textarea class="form-control w-75" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        </div>

        <button class="btn btn-primary ml-3" type="submit">Submit</button>
    </form>
</div>