

<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
<div class="table-title">
  <div class="row">
      <div class="col-sm-5">
          <h2>Contact <b>List</b></h2>
      </div>
      <div class="col-sm-7 d-flex flex-row align-items-center">
        <form class="d-flex align-items-center mt-3">
          <div class="form-group form-inline">
              Full Text Search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
          </div>
        </form>
          <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i><span>Add New Employee</span></a>
          
          <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="fa fa-trash-o" aria-hidden="true"></i> <span>Delete</span></a>
      </div>
  </div>
</div>
<table mdbTable class="table table-striped">
  <thead>
  <tr>
    <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="newCountry" [sortBy]="headElements[i]">{{head | titlecase}} <i class="fa fa-sort" aria-hidden="true"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries$ | async; index as i" >
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
    </td>
    <td><ngb-highlight [result]="country.email" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="country.mobile" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="country.address" [term]="filter.value"></ngb-highlight></td>
  </tr>
  </tbody>
</table>
</div>
</div>
</div>